
<md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
  <md-nav-item md-nav-href="#!/bootstrap" name="расписание">
      расписание
  </md-nav-item>
  <md-nav-item md-nav-href="#!/schedule" name="посмотреть расписание">
      посмотреть расписание
  </md-nav-item>

  <md-nav-item  md-nav-href="#!/" name="Главная">
    Главная
  </md-nav-item>
  <md-nav-item  md-nav-href="#!/teacher" name="Преподаватели">
      Преподаватели
    </md-nav-item> 
    <md-nav-item  md-nav-href="#!/replacement" name="Замены">
      Замены
    </md-nav-item>

</md-nav-bar>