<ng-include src="'templates/menu.html'"></ng-include>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title ng-binding">tewacherA</h3>
            </div>
            <div class="panel-body ng-scope">
                <ul dnd-list="teacher" class="ng-scope">

                    <li ng-repeat="item in teacher"
                        dnd-draggable="item"
                        dnd-moved="teacher.splice($index, 1)"
                        dnd-effect-allowed="copy"
                        class="ng-binding ng-scope"
                        draggable="true">
                        {{item.title}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title ng-binding">tewacher2</h3>
            </div>
            <div class="panel-body ng-scope">
                <ul dnd-list="teachers" class="ng-scope">

                    <li ng-repeat="item in teachers"
                        dnd-draggable="item"
                        dnd-moved="teachers.splice($index, 1)"
                        dnd-effect-allowed="copy"
                        ng-class="{'selected': s2elected === item}"
                        class="ng-binding ng-scope"
                        draggable="true">
                        {{item.title}}
                    </li>
                </ul>
            </div>
        </div>
 <div ng-repeat="(listName, list) in models.lists" class="col-md-6 ng-scope">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title ng-binding">List A</h3>
            </div>
            <div class="panel-body ng-scope">
                <ul dnd-list="list" class="ng-scope">

                    <li ng-repeat="item in list"
                        dnd-draggable="item"
                        dnd-moved="list.splice($index, 1)"
                        dnd-effect-allowed="copy"
                        dnd-selected="models.selected = item"
                        ng-class="{'selected': models.selected === item}"
                        dnd-disable-if="list.length < 2"
                        class="ng-binding ng-scope"
                        draggable="true">
                        {{item.label}}
                    </li>
                </ul>
            </div>
        </div>
    </div>