<ng-include src="'templates/menu.html'"></ng-include>
<dnd-nodrag>
      <ul dnd-list="lists"
       dnd-allowed-types="['item']"
       >
       <li ng-repeat="item in lists" ng-init="ind = $index"
        dnd-type="'item'"
        dnd-draggable="item"
        dnd-moved="lists.splice($index, 1)"
        dnd-effect-allowed="move"
        dnd-selected="models.selected = item"
        ng-class="{'selected': models.selected === item}"
        >
        {{item.name}}
        <ul style="min-height: 30px" dnd-list="item.cards"
           dnd-allowed-types="['card']"
          >
            <li ng-repeat="card in item.cards"
             dnd-type="'card'"
             dnd-draggable="card"
             dnd-effect-allowed="move"
             dnd-moved="item.cards.splice($index, 1)"
            >
          {{card.name}}</li>
          </ul>
    </li>
</ul>
 </dnd-nodrag>
      
      <h2>Dragged from :         <span ng-if="draggedFrom">lists[{{draggedFrom}}] </span>
      </h2>
      <h2>Dragged to :         <span ng-if="draggedTo">lists[{{draggedTo}}]</span>
      </h2>
      <h2>Object: {{draggedItem}}</h2>
      <h1>Result list:</h1>
      <ul>
        <li ng-repeat="list in lists track by $index">
          {{list.id}}  {{list.name}} 
              <ul>
            <li ng-repeat="c in list.cards track by $index">
              {{c.name}}
           </li>
          </ul>
        </li>
      </ul>