doctype html
html(ng-app="myApp")
  head
    title= title
    meta(name='viewport', content='with=device-with, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  body
    block content
        div(ng-view)
    script(src='/angular/angular.min.js')
    script(src='/angular/angular-route.min.js')
    script(src='/app.js')
    script(src='/index/indexController.js')
    script(src='/page1/page1Controller.js')
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')